<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">  
    <link href="{{ url_for('static', filename='admin.css') }}" rel="stylesheet" type="text/css">
    <title>dreamland - manage access</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <div class="title"><a href="/">dreamland</a></div>
    </div>
    <form method="get">
        <div class="form-block search-bar">
            <input type="text" name="search_email" placeholder="search by email">
            <input type="submit" class="btn-submit" value="Search">
        </div>
    </form>
    <div class="table-wrapper">
        <table class="access">
            <tr>
                <th class="email-cell">email</th>
                <th class="checkbox-cell">lil</th>
                <th class="checkbox-cell">yus</th>
            </tr>
            {% for user in users %}
            <tr>
                <td class="email-cell">{{ user.email }}</td>
                {% for i in range(2) %}
                <td class="checkbox-cell">
                    <input type="checkbox" onclick="toggleAuthorization({{ user.id }}, this.checked)"
                           {% if admin_index != i %}disabled{% endif %}
                           {% if (i == 0 and user.authorized0) or (i == 1 and user.authorized1) %}checked{% endif %}>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
    function toggleAuthorization(userId, newState) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/update-authorization", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE) {
                if (this.status !== 200) {
                    window.location.reload();  // Reload the page on error
                }
            }
        }
        xhr.send(JSON.stringify({userId: userId, newState: newState}));
    }
    </script>
</body>
</html>
