@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
    height: 100%;
    background: #e2e2e0;
	color: #141414;
	font-family: baskerville;
	font-size: 12pt;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

form {
	margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	width: calc(100% - 40px);
	max-width: 450px;
	font-size: 16pt;
}

input, textarea {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-webkit-user-select: text;
	user-select: text;
	font-family: inherit;
	font-size: inherit;
	background: transparent;
	border: none;
	padding: 10px;
	border-radius: 0;
	color: #141414;
    border-bottom: 1px solid #141414;
}

textarea {
	height: 22px;
	font-size: 12pt;
	resize: none;
	transition: border-color 1s ease;
}

input:focus, textarea:focus {
    outline: none;
}

input {
	text-align: center;
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=checkbox] {
	position: relative;
	border: 2px solid #141414;
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 auto;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 18px;
	width: 18px;
	-webkit-appearance: none;
	appearance: none;
	opacity: .5;
}
  
input[type=checkbox]:hover {
	opacity: 1;
}

input[type=checkbox]:checked {
	background-color: #141414;
	opacity: 1;
}

input[type=checkbox]:disabled {
	border-color: #969696;
	cursor: default;
}

input[type=checkbox]:disabled:hover {
	opacity: .5;
}

input[type=checkbox]:disabled:checked {
	background-color: #969696;
	opacity: .5;
}

input[type=checkbox]:checked:before {
	content: '';
	position: absolute;
	right: 50%;
	top: 50%;
	width: 4px;
	height: 10px;
	border: solid #e2e2e0;
	border-width: 0 2px 2px 0;
	margin: -1px -1px 0 -1px;
	transform: rotate(45deg) translate(-50%, -50%);
	z-index: 2;
}

.header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
	z-index: 100;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-54%, -50%);
	font-weight: bold;
	font-size: 24pt;
}

.form-group {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form-label {
	font-size: 12pt;
	color: #525252;
	margin-bottom: 5px;
}

.form-control {
    width: 100%; /* Full width for controls */
    display: flex;
    justify-content: center; /* Center controls */
}

.form-control.date input {
    width: 100%;
}

.form-control.textbox textarea {
    width: 100%; /* Full width for textarea */
    font-size: 12pt; /* Smaller font size for textarea */
}

.form-control.rating {
    justify-content: space-between; /* Buttons to the left and right in rating */
}

.fade-to-black {
	border-color: rgb(230, 0, 0);
}

.btn-adjust {
	text-align: center;
	position: relative;
	color: #141414;
	aspect-ratio: 1 / 1;
	height: 10%;
	width: 10%;
	min-width: 30px;
	min-height: 30px;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #141414;
	margin: 12px 30px 8px 30px;
}

.btn-adjust:active {
	background: #141414;
	color: #e2e2e0;
}

.btn-adjust, .btn-submit {
	cursor: pointer;
}

.btn-text {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 14pt;
	line-height: 14pt;
	transform: translate(-50%, -50%);
}

.btn-submit {
	color: #141414;
	border: 1px #141414 solid;
	font-weight: bold;
	margin: 0px 10px;
}

.btn-submit:focus {
	background-color: #ccccca;
}

.btn-submit:active {
	background: #141414;
	color: #e2e2e0;
}

/* manage_acess.html */

.form-block input {
	display: inline;
}

.form-block input[type="text"] {
	text-align: left;
}

.search-bar input {
	font-size: 12pt;
}

.table-wrapper {
	max-width: 500px;
	margin: 0 auto;
}

.access {
	width: 100%;
	padding: 50px;
}

.email-cell {
	width: calc(100% - 100px);
	text-align: left;
	padding-right: 10px;
}

.checkbox-cell {
	width: 50px;
	text-align: center;
}

/* responsive */

@media only screen and (max-width: 768px) {
	.header {
		height: 150px;
	}

	.title {
		transform: translate(-52%, -50%);
	}

	form {
		font-size: 14pt;
	}

	.form-label {
		font-size: 10pt;
	}
}

/* Responsive and additional styling as needed */


@font-face {
	font-family: baskerville;
	src: url("fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
	font-family: baskerville;
	src: url("fonts/LibreBaskerville-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: baskerville;
	src: url("fonts/LibreBaskerville-Italic.ttf");
	font-style: italic;
}
