@charset "utf-8";
/* CSS Document */

html, body {
	overscroll-behavior-y: none;
}

body {
    height: 100%;
    background: linear-gradient(90deg, #303077 50%, #daffde 50%);
	font-family: baskerville;
	font-size: 12pt;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
    background: linear-gradient(90deg, #303077 50%, #daffde 50%);
	z-index: 1;
}

.header-left, .header-right {
	position: absolute;
	top: 0px;
	width: 50%;
	height: 100%;
}

.header-left {
	color: #daffde;
	left: 0px;
}

.header-right {
	color: #303077;
	right: 0px;
}

.name {
	font-size: 15pt;
	position: fixed;
	top: 15px;
}

.header-left .name {
	left: 15px;
}

.header-right .name {
	right: 15px;
}

.title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	font-size: 24pt;
}

.header-left .title {
	color: #daffde;
	right: 0px;
	padding-right: 5px;
}

.header-right .title {
	color: #303077;
	left: 0px;
	padding-left: 3px;
}

.body {
	margin-top: 200px;
	z-index: -1;
}

.entry {
	position: relative;
	width: 100%;
	margin-bottom: 65px;
	display: table;
}

.anchor {
	position: relative;
	bottom: 200px;
}

.wrapper {
	width: calc(45% - 100px);
	max-width: 550px;
	padding: 0px 50px;
	display: table-row;
}

.wrapper.left {
	align-content: right;
	text-align: right;
	float: right;
	color: #daffde;
	fill: #daffde;
	transform: translateX(-50vw)
}

.wrapper.right {
	align-content: left;
	text-align: left;
	float: left;
	color: #303077;
	fill: #303077;
	transform: translateX(50vw)
}

.subtitle {
	margin-bottom: 10px;
	height: 27px;
	display: flex;
	align-items: flex-end;
}

.left .subtitle {
	justify-content: flex-end;
}

.date {
	font-size: 16pt;
	bottom: 0;
}

.share-btn {
	display: none;
	margin: 0 10px 1px 10px;
	height: 27px;
	cursor: pointer;
}

.post-link {
	text-decoration: underline;
}

.conclusion {
	font-style: italic;
	letter-spacing: 0px;
	display: inline-block;
	margin-top: 12px;
}

.icons {
	display: inline-block;
	margin: 0px 2px;
	transform: translateY(2px);
}

.icon {
	width: 19px;
	margin-left: 1px;
}

/* popup */

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overscroll-behavior-y: none;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.popup-content {
	position: fixed;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f7f7f7;
	color: #141414;
	margin: auto;
	padding: 30px;
	width: 70%;
	max-width: 650px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup-title {
	margin-left: 7px;
	font-size: 20px;
	font-weight: bold;
}

.close-btn {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
	color: #141414;
}

#content-to-share {
	margin: 20px 0;
	padding: 26px 23px 29px 25px;
	border: none;
	max-height: 50vh;
	overflow: auto;
}

.left-share  {
	color: #daffde;
	fill: #daffde;
	border: 1px solid #303077;
	background-color: #303077;
}

.right-share {
	color: #303077;
	fill: #303077;
	border: 1px solid #daffde;
	background-color: #daffde;
}

.button-container {
	display: flex;
	justify-content: left;
	margin-bottom: 3px;
}

.copy-btn {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	background: transparent;
	padding: 8px 12px;
	border: none;
	color: #141414;
	margin: -5px 10px 0px 0px;
}

.copy-btn:hover {
	background-color: #ccc;
}

.copy-btn:active {
	background-color: #aaa;
}

.copy-btn:disabled {
	background: none;
	cursor: default;
}

/* Add responsive design for small screens */
  

@media (hover: hover) {
	.wrapper:hover .share-btn {
		display: inline;
	}
}

@media only screen and (max-width: 992px) {
	body {
		font-size: 11pt;
	}

	.header {
		height: 180px;
	}

	.body {
		margin-top: 180px;
	}
	
	.entry {
		margin-bottom: 50px;
	}

	.anchor {
		bottom: 180px;
	}

	.wrapper {
		width: calc(45% - 70px);
		padding: 0px 35px;
	}

	.name {
		font-size: 13pt;
	}

	.subtitle {
		height: 22px;
	}

	.date {
		font-size: 13pt;
	}

	.share-btn {
		height: 22px;
	}

	.icons {
		transform: translateY(2px);
	}

	.icon {
		width: 16px;
		margin-left: 1px;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 9pt;
	}

	.header {
		height: 150px;
	}

	.title {
		font-size: 20pt;
	}

	.body {
		margin-top: 150px;
	}
	
	.entry {
		margin-bottom: 40px;
	}

	.anchor {
		bottom: 150px;
	}

	.wrapper {
		width: calc(47% - 56px);
		padding: 0px 28px;
	}

	.name {
		font-size: 11pt;
	}

	.subtitle {
		height: 18px;
	}

	.date {
		font-size: 11pt;
	}

	.share-btn {
		margin: 0 8px 1px 8px;
		height: 18px;
	}

	.icons {
		transform: translateY(1px);
	}

	.icon {
		width: 14px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 576px) {
	body {
		font-size: 8pt;
	}

	.name {
		font-size: 9pt;
	}

	.wrapper {
		width: calc(49% - 35px);
	}

	.wrapper.right {
		padding: 0px 15px 0px 20px;
	}

	.wrapper.left {
		padding: 0px 20px 0px 15px;
	}

	.header {
		height: 140px;
	}

	.body {
		margin-top: 140px;
	}

	.anchor {
		bottom: 140px;
	}
}

@font-face {
	font-family: baskerville;
	src: url("fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
	font-family: baskerville;
	src: url("fonts/LibreBaskerville-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: baskerville;
	src: url("fonts/LibreBaskerville-Italic.ttf");
	font-style: italic;
}
