<!doctype html>
<html>
<head>
    <meta charset="utf-8">  
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>dreamland - a dream blog</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <div class="name">
                lilian
                {% block extra_links %}
                {% endblock %}
            </div>
            <a class="title" href="https://www.youtube.com/watch?v=BE7vBk_zLA4" target="_blank">
                dream
            </a>
        </div>
        <div class="header-right">
            <div class="name">
                yusuke
            </div>
            <a class="title" href="https://www.youtube.com/watch?v=BE7vBk_zLA4" target="_blank">
                land
            </a>
        </div>
    </div>
    <div class="body">
        {% block body %}{% endblock %}
    </div>
</body>
</html>