{% extends "base.html" %}

{% block body %}
    <div class="entry">
        <div class="wrapper left">
            <div class="date">dec 9, 2023</div>
            <div class="content">welcome to our dream blog! please log in to view the content.</div>
        </div>
        <div class="wrapper right">
            <div class="date">dec 9, 2023</div>
            <div class="content"><a href="/login">click here</a> to login.</div>
            <div class="conclusion">enjoyment: </div>
            <div class="icons">
                <img alt="☾" src="{{ url_for('static', filename='imoon.png') }}" class="icon">
            </div>
            <div class="conclusion">.</div>
        </div>
    </div>
    <div class="entry">
        <div class="wrapper right">
            <div class="date">dec 2, 2023</div>
            <div class="content">some sort of intro or description here would be nice.</div>
            <div class="conclusion">enjoyment: </div>
            <div class="icons">
                <img alt="☾" src="{{ url_for('static', filename='imoon.png') }}" class="icon">
                <img alt="☾" src="{{ url_for('static', filename='imoon.png') }}" class="icon">
                <img alt="☾" src="{{ url_for('static', filename='imoon.png') }}" class="icon">
                <img alt="☾" src="{{ url_for('static', filename='imoon.png') }}" class="icon">
                <img alt="☾" src="{{ url_for('static', filename='imoon.png') }}" class="icon">
            </div>
            <div class="conclusion">.</div>
        </div>
    </div>
{% endblock %}

